body {
   background-color:#ffffff;
   margin:0px;
   padding:0px;
}
/*  avoid styling the span tag wrt any font settings.  */
body, th, td, div, p, button, select, input {
   font-family:Arial,sans-serif;
}

body,td,input,button,th,caption {
   font-size:70%;
}
* html body,* html td,* html input,* html button,* html th {
   font-size:67%;
}
select {
   font-size:100%;
}

/*  percentage fonts must be used carefully */
/* for ie we dont want to set body td, body th, back to 100%, as these dont properly inherit from the body in the first place.  */
/*  oddly enough though, td does inherit from div in IE, although not from anything else.*/

div td,body input, body button,
td input, td button, th input, th button, 
body div,body table, body td, body th, body caption {
   font-size:100%;
}

body,td,p {
   color:#000000;
}
h1,h2,h3,h4 {   
   margin:5px 0px 10px 0px;
   color:#000000;
   vertical-align:center;
}

h1 {font-size:180%;font-weight:normal; }
h2 {font-size:170%;font-weight:normal;}
h3 {font-size:150%;}
h4 {font-size:130%;}
h5 {
   margin: 0 0 7px 0;
   font-size:100%;
}

hr {
   border:0px;
   height:1px;
   overflow:hidden;
   color:#cccccc;
   background-color:#cccccc;
   margin: 0 5px 5px 5px;
}

* html hr {
   margin-top:-5px;
   position:relative;
   top:5px;
}

.hv {
   float:right;
   direction:ltr;
   margin: 0 4px 8px 8px;
   height: 16px;
   width: 4px;
   background-image:url(./gif/divider.gif);
   cursor: default;
}

form {
   display:inline;
}
span.whiteSpacer {
   font-size:8px;
}

input.small {
   width:100px;
   border: 1px solid #6699cc;
   padding-left: 2px;
}

select.medium {
   width:145px;
}

input.medium {
   width:145px;
   border: 1px solid #6699cc;
   padding-left: 2px;
}
input.large {
   width:200px;
   border: 1px solid #6699cc;
   padding-left: 2px;
}
input.smaller {
   width:45px;
   border: 1px solid #6699cc;
   padding-left: 2px;
}
input.smallest {
   width:40px;
   border: 1px solid #6699cc;
   padding-left: 2px;
}
option {
   overflow: visible;
   clip: auto;
}
div.clearFloats {
   clear:both;
   height:1px;
   overflow:hidden;
   margin-bottom:-1px;
}

/* Framework */

.applicationPalette {
   margin: 7px;
}

.leftContentPane {
   border:7px solid #ccc; 
   vertical-align: top;
}

.rightContentPane {
   border-width: 7px 7px 7px 0; 
   border-style: solid; 
   border-color: #cccccc; 
   vertical-align: top; 
   width:100%;
}

.paletteBg {
   padding-top: 11px;
   background-color: #cccccc;
}

.paletteTop h1 {
   margin: 0px !important;
}
.paletteTopButtons {
   margin: 0;
   padding: 6px 8px 0 0;
}
.mainNav {
   width: 214px;
}
#navigationControl {
   padding: 2px;
}

/* user identification */
div.userId {
   margin:8px 0 8px 15px;
}
td.userId {
   padding: 5px 0 0 15px;
}
td.status {
   text-align: right; 
   padding: 5px 23px 0 0; 
}
div.status {
   text-align: right; 
   padding: 5px 23px 0 0; 
   color: #999999
}

td.tdbold {
   font-weight: bold;
}

/* Application Masthead */

table.applicationMastheadSmall {
   width: 100%;
}

table.applicationMastheadSmall,
table.applicationMastheadSmall td {
   background-color:#4FAF00;
   color:#ffffff;
   vertical-align:top;
}
td.mastheadIcon {
   padding-top:14px;
   padding-left:17px;
}
td.mastheadTitle {
   width: 70%;
   padding:16px 0 0 16px;
}
td.medium {
   width:145px;
}
td.large {
   width:30%;
}

td.mastheadTitle h1 {
   padding:0px;
   margin:0px;
   padding-right:16px;
   color:#ffffff;
   white-space:nowrap;
}

div.mastheadPhoto {
   background:#fff;
   border-left:7px solid #fff;
   border-right:7px solid #fff;
   float:right;
   width:306px;
   height:57px;
}
td.mastheadLinks {   
   padding:12px 16px;
   white-space:nowrap;
   border-left:7px solid #fff;
   width:30%;
}

td.supportLinks {   
   padding:12px 115px;
   padding-right:16px;
   text-align: right;
}

td.blackinkbox {
   width:20px;
   background-color:#000000;
}

td.lightcyaninkbox {
   width:20px;
   background-color:#aaffff;
}

td.cyaninkbox {
   width:20px;
   background-color:#00ffff;
}

td.lightmagentainkbox {
   width:20px;
   background-color:#ffaaff;
}

td.magentainkbox {
   width:20px;
   background-color:#ff00ff;
}

td.yellowinkbox {
   width:20px;
   background-color:#ffff00;
}

td.greeninkbox {
   width:20px;
   background-color:#00ff00;
}
       
td.blueinkbox {
   width:20px;
   background-color:#0000ff;
}

td.voiletinkbox {
   width:20px;
   background-color:#ab00ff;
}

td.pinkinkbox {
   width:20px;
   background-color:#ffaed7;
}

td.lightgreyinkbox {
   width:20px;
   background-color:#cccccc;
}

td.blackinkboxLarge {
   width:30px;
   background-color:#000000;
}

td.tricolorinkboxLarge {
   width:30px;
   background: url(./gif/tricolor_ink_gauge.gif);
}

td.photoinkboxLarge {
   width:30px;
   background: url(./gif/photo_ink_gauge.gif);
}

td.grayphotoinkboxLarge {
   width:30px;
   background: url(./gif/grayphoto_ink_gauge.gif);
}

td.bluephotophotoinkboxLarge {
   width:30px;
   background: url(./gif/bluephoto_ink_gauge.gif);
}

table.applicationMastheadSmall a:link,
table.applicationMastheadSmall a:visited,
table.applicationMastheadSmall a:active,
table.applicationMastheadSmall a:hover {
   color:#ffffff;
   text-decoration:underline;
}

/* Navigation Control */
#navigationControl {
   margin-top: 2px;
}
div.navigationControlOn,
div.navigationControlOff,
div.navigationControlHeader {
   background-color:#ffffff;
   padding: 3px 7px 4px 8px;
}

div.navigationControlHeader {
   font-weight: bold;
}
div.navigationControlOn {
   background-color:#99ccff;
}
div.navigationControlOff {
   background-color:#ffffff;
}

div.navigationControlOn a:link,
div.navigationControlOn a:visited,
div.navigationControlOn a:active {
   text-decoration:none;
   color:#000000;
}
div.navigationControlOff a:link,
div.navigationControlOff a:visited,
div.navigationControlOff a:active {
   text-decoration:none;
   color:#003399;
}
div.navigationControlOn a:hover {
   text-decoration:underline;
   color:#000000;
}
div.navigationControlOff a:hover {
   text-decoration:underline;
   color:#003399;
}
div.navigationControlSpacer {
   height:5px;
   overflow:hidden;
}

/* links */
a:link, a:visited, a:active, a:hover {
   color:#003399;
   text-decoration:none;
}
a:hover {
   text-decoration:underline;
}

/* Tabs */
div.tabSet, div.secondaryTabSet {
   
}
div.tabSet {
   background-image:url(./gif/tab_set_bg.gif);
}
div.secondaryTabSet {
   background-image:url(./gif/tab_set_secondary_bg.gif);
}
* html div.tabSet, * html div.secondaryTabSet {
   float:left;
}
div.tabOff,div.tabOn {
   float:left;
   text-align:center;
   height:14px;
   font-weight:bold;
   white-space:nowrap;
}
div.tabOff {
/* background color and background image are a part of the theme css */
   background-color:#86BB5B;
   background-image:url(./gif/tab_right.gif);
   background-position:top right;
   background-repeat:no-repeat;
   color:#ffffff;
   padding:2px 13px 4px 10px;
   border-bottom:2px solid #fff;
   border-right:2px solid #fff;
   cursor:pointer;
   cursor:hand;
}
div.tabOn {
   background-color:#cccccc;
   color:#333333;
   padding:2px 13px 6px 10px;
   border-right:3px solid #fff;
}
div.tabOff a:link,
div.tabOff a:visited,
div.tabOff a:active,
div.tabOff a:hover {
   color:#ffffff;
   text-decoration:none;
}
div.tabOn a:link,
div.tabOn a:active,
div.tabOn a:visited,
div.tabOn a:hover {
   color:#333333;
   text-decoration:none;
}
div.secondaryTabSet div.tabOn {
   background-color:#ffffff;
   border-right:3px solid #cccccc;
}
div.secondaryTabSet div.tabOff {
   background-color:#86BB5B;
   background-image:url(./gif/tab_secondary_right.gif);
   background-position:top right;
   background-repeat:no-repeat;
   border-bottom:2px solid #ccc;
   border-right:2px solid #ccc;
   min-width:58px;
   padding:1px 13px 3px 10px;
}

div.tabOff {
   min-width:88px;
}
div.tabOn {
   min-width:89px;
}

div.secondaryTabSet div.tabOff {
   min-width:62px;
   padding:1px 13px 3px 10px;
}

div.secondaryTabSet div.tabOn {
   min-width:59px;
   padding:1px 13px 5px 10px;
}

/* Command Button */
div.buttonSet {
   float:right;
   margin-bottom:10px;
}

div.bWrapperUp,
div.bWrapperOver,
div.bWrapperDown,
div.bWrapperDisabled {
   float:right;
   direction:ltr;
   margin-left:8px;
   margin-bottom:8px;
}

/* buttonsAreRigtAligned is a modifier class, modifying buttonSet */
div.buttonsAreRigtAligned, 
div.buttonsAreRigtAligned div.bWrapperUp,
div.buttonsAreRigtAligned div.bWrapperOver,
div.buttonsAreRigtAligned div.bWrapperDown,
div.buttonsAreRigtAligned div.bWrapperDisabled {
   float:right;
   margin-left:8px;
   margin-right:0px;
   width:100%;
}

div.verticalButtonSet {
   padding-right:10px;
}

div.verticalButtonSet div.bWrapperUp,
div.verticalButtonSet div.bWrapperOver,
div.verticalButtonSet div.bWrapperDown,
div.verticalButtonSet div.bWrapperDisabled {
   float:none;
   margin-left:0px;
}

/* this position relative css is what turns the three divs into the 3px slant effect */
div.bWrapperUp div,
div.bWrapperOver div,
div.bWrapperDown div,
div.bWrapperDisabled div {
   position:relative;
   left:-1px;
   top:-1px;
}

button.hpButtonSmall,
input.hpButtonSmall {
   padding:0px 4px;
   height:19px;
   color: #ffffff; 
/*   min-width: 19px; */
}
button.hpButtonVerySmall,
input.hpButtonVerySmall {
   padding:0px 2px;
   height:11px;
   font-size:9px;
   color: #ffffff; 
}

button.hpButton,
button.hpStdButton,
button.hpStdButtonLarge,
button.hpButtonSmall,
button.hpButtonVerySmall,
input.hpStdButton,
input.hpStdButtonLarge,
input.hpButton,input.hpButtonSmall,
input.hpButtonVerySmall {
   background-color: #86BB5B;
   position:relative;
   left:-1px;
   top:-1px;   
/* background color a part of the theme css */
   color: #ffffff; 
   font-weight:bold;
   text-decoration: none;   
   font-family: Arial,sans-serif;
   text-align:center;
   cursor:pointer;
   cursor:hand;
}

div.bEmphasized button,
div.bEmphasized input,
div.bEmphasized submit {
   background-color:#336633;
   color:#ffffff;
}

div.bDivider {
   float:right;
   direction:ltr;
   margin: 0 4px 8px 8px;
   height: 16px;
   width: 4px;
   height:19px;
   background-image:url(./gif/divider.gif);
   cursor: default;
}
 
input.hpButton {
   height:19px;
   color: ; 
/*   min-width:95px;  */
}

input.hpStdButton {
   height:19px;
   color: #ffffff; 
/*   min-width:89px; */
}

input.hpStdButtonLarge {
   height:19px;
   color: #ffffff; 
   text-align:center;
/*   min-width:110px; */
}

button.hpButton {
   height:19px;
   color: #ffffff; 
/*   min-width:95px; */
}

button.hpStdButton {
   height:19px;
   color: #ffffff; 
/*   min-width:89px; */
}

button.hpStdButtonLarge {
   height:19px;
   color: #ffffff;  
   text-align:center;
/*   min-width:110px; */
}

/* works to eliminate the pushed-in button movement on mozilla, 
at the expense of an extra pixel of button jutting out on the 
left side during the pushed-in state.   
button.hpButton:active,input.hpButton:active {
   margin-left:-1px;
   margin-right:1px;
} */

div.verticalButtonSet {
   padding-left:13px;
}

/* LABEL, TEXT,  NOTES  */
.pad10 {
   padding:10px;
}
.pad5 {
   padding:5px;
}
.pad6x10 {
   padding:6px 10px;
}

td.toppad {
   padding-top:6px;
}

/* table cell padding */
table.tablePad3 td {
   vertical-align: top;
   padding-bottom: 3px;
}

td.tableCellNote {
   padding: 3px 0 9px 0 !important;
}

/* summary tables */
tr.summaryRow td{
	background:#fff;
}
tr.summaryRow td {
	border-top:1px solid #999;
	text-align:right;
	font-weight:bold;
}
tr td.rowSummaryCell,tr.altRowColor td.rowSummaryCell {
	background: #F9F9F9;
	font-weight:bold;
	text-align:right;
}

/* LIST STYLES  */
ul,ol {padding-top:5px;margin-top:0px;padding-bottom:10px;margin-bottom:0px;}
ul ul, ol ol, ul ol, ol ul {padding-top:0px;padding-bottom:10px;margin-top:0px;margin-bottom:0px;}
ul {margin-left: 22px; padding-left: 0px;}
ol {margin-left: 22px; padding-left: 0px;}

         ul li,
     ol ul li,
ol ul ul li,
ol ol ul li,
ul ol ul li
{
   list-style-image:url(./gif/bullet.gif);
   margin-bottom:2px;
}
         ol li,
     ul ol li,
ul ol ol li,
ul ul ol li,
ol ul ol li
{
   list-style-image:none;
}
ol li ol li {
   list-style:lower-alpha;
}
ol li ol li ol li {
   list-style:lower-roman;
}

/*titles and subtitles*/

h3.subTitle {
   background-color:#666;
   font-weight:bold;
   color:#fff;
   padding:3px 5px 3px 9px;
   margin:0px;
   font-size:100%;
}
div.subtitleBottomEdge {
   height:3px;
   overflow:hidden;
   background:#484848;
}

.buttonHelp { 
   margin-left:5px;
   background-color:#86BB5B; 
   color: #ffffff; 
   font-weight:bold;
   text-decoration: none;   
   font-family: Arial,sans-serif;
   text-align:center;
   cursor:pointer;
   cursor:hand;
   width:18px;
   height:19px;
}

/*.buttonB { 
   margin-right:5px;
   margin-left:5px;
   background-color:#86BB5B; 
   color: #ffffff; 
   font-weight:bold;
   text-decoration: none;   
   font-family: Arial,sans-serif;
   text-align:center;
   cursor:pointer;
   cursor:hand;
   width:95px;
   height:19px;
}*/

/* TABLES */

/* table borders */

.dataTable, .propertyViewTable {
   border-right: #968f89 1px solid; 
   border-top: #968f89 0px solid;
   border-left: #968f89 1px solid; 
   border-bottom: #968f89 1px solid; 
   border-collapse: collapse
}

.scrollingTable {
   border-bottom:1px solid #ccc;
   border-right:1px solid #ccc;
}

/* scrollingTable's left border is provided by it's scrollingTableDiv */
.scrollingTable {
   border-left-width:0px;
}

.dataTable td, 
.scrollingTable td, 
.propertyViewTable td {
   padding:2px 5px 1px 5px;
   border-top:1px solid #ccc;
   vertical-align:top;
}

.dataTable td, 
.scrollingTable td,
.propertyViewTable td {
   padding:2px 5px 1px 5px;
}

.propertyViewTable {
   width:100%;
}

tr.captionRow th {
   background-color:#968F89;
   font-weight:bold;
   text-align:left;
   vertical-align:top;
   padding:3px 5px 2px 5px;
   color:#fff; 
   border-right:1px solid #ccc;
}

tr.headRow th {
   background-color:#968F89;
   font-weight:bold;
   text-align:left;
   vertical-align:top;
   padding:3px 5px 2px 5px;
   color:#fff; 
}

/* Taken from default.css */
caption { 
   background-color:#716B66;
   font-weight:bold;
   text-align:left;
   vertical-align:top;
   padding:3px 5px 2px 5px;
   color:#fff; 
}
/* ---- */

caption.displayForAuralBrowsersOnly {
   display:none;
}

/* table links */
tr.captionRow a:link,
tr.captionRow a:visited,
tr.captionRow a:active,
tr.captionRow a:hover {
   color:#fff;
   text-decoration:none;
}

/* table row colors */
tr.altRowColor td { 
   background-color:#f5f5f5;
}

.dataTable tr.rowHighlight td, 
.scrollingTable tr.rowHighlight td,
.propertyViewTable tr.rowHighlight td {
   background-color:#9cf;
}


/* for scrolling tables. */
table.scrollingTable {
   width:100%;
}

/*tr.dummyRow td {
   padding-top:0px;
   padding-bottom:0px;
}
tr.dummyRow div{
   height:1px;
   overflow:hidden;
}

.scrollingTableDiv {
   clear:both;
   overflow:auto; 
   width:100%;
   border:1px solid #968F89;
   border-top-width:0px;
   margin-bottom:10px;

}*/

div.butSet {
   float:right;
   margin-bottom:10px;
}

.pad7Btm0 {
   padding: 7px 10px 0 10px;
}

/* table padding */

.dataTable th.checkboxCell,.scrollingTable th.checkboxCell, .propertyViewTable th.checkboxCell,
.dataTable td.checkboxCell,.scrollingTable td.checkboxCell, .propertyViewTable td.checkboxCell {
   padding:0px 5px;
}
.dataTable td.editableFieldCell,.scrollingTable td.editableFieldCell, .propertyViewTable th.editableFieldCell,
.dataTable th.editableFieldCell,.scrollingTable th.editableFieldCell, .propertyViewTable th.editableFieldCell {
   padding:2px 4px;
}

/* table alignment */

.dataTable td.numericalCell,
.dataTable th.numericalCell {
   text-align:right;
}

.dataTable td.textCell,
.dataTable th.textCell {
   text-align: center
}

/* custom printer overview */
table.threePanel {
   border-top: 10px solid #efefef;
   border-right: 5px solid #efefef;
   border-bottom: 10px solid #efefef;
   border-left: 5px solid #efefef;
}
table.threePanel td {
   vertical-align: top;    
}

td.panelBorderRt {
   border-right: 5px solid #eeeeee;
}

#inkStatus td {
   vertical-align: top;
   border-bottom: 1px solid #ccc;
   padding: 6px 0 6px 6px;
}

.statusPane {
   height: 100%; 
   overflow: auto; 
   padding: 7px 10px 7px 10px;
}

table.wizardpage {
   width : 500px;
   # height: 100%;
   border: 7px solid #ccc;
}
td.wizardcontent {
   # height: 100%;
   vertical-align: top;
}
tr.tabbedcontent {
   background-color: #eeeeee;
}
.front {  
   background-color : #cccccc; 
} 

/* alert messages */

table.alertBox {
   border: 7px solid #ccc;
   padding: 15px 15px 10px 15px;
   min-height: 108px;
   width: 311px;
   text-align: center;
}

td.alertBoxTitle {
   font-size: 120%;
   font-weight: bold;
}

td.alertBoxIcon {
   width: 56px;
   vertical-align: top;
}

td.alertBoxMessageWithIcon {
   padding-left: 0px;
   text-align: left;
}

td.alertBoxButtons {
   height: 62px;
   vertical-align: bottom;
}

/*div.treeControl {
   width:17px;
}
div.treeControl {
   clear:both;
}
div.treeControl {
   height:13px;
   margin-right:5px; 
}
div.treeControl {
   height:17px;
}
div.treeControl {
   background:#fff;
}
*/
/* progress bar */

div.progressBarSmall {
   height:10px;
   background:url(./gif/progress_bar_small.gif);
   overflow:hidden;
   width:150px;
}

div.progressBarLarge {
   height:10px;
   background:url(./gif/progress_bar_large.gif);
   overflow:hidden;
   width:300px;
}

div.progressBar {
   position:relative;
   height:10px;
   background-color:#333333;
   width:0px;
   padding-top:5px;
   padding:0px; 
}
/* margins and spacers */
.gutter {
   height: 8px;
   font-size: 1px;
   background-color: #fff;
}

/* tooltip */
#tooltip {
   visibility: hidden;
   position: absolute;
   left: -300px;
   border: 1px solid #999;
   padding: 2px 4px 4px 4px;
   background-color: #efefef;
   color: #000000;
   z-index: 100;
   white-space: nowrap;
   filter: progid:DXImageTransform.Microsoft.Shadow(color='#cccccc',direction='135',strength='2');
}

button.hpButton,input.hpButton {
   padding:0px 13px 0px 10px;
   height:21px;
/*   min-width:86px; */
   color: #ffffff; 
}

/* step number display in wireless wiz pages */
input.step_display {
   width: 10px;
   border: 1px;
   text-align: left;
   font-weight:bold;
}

input.clock_display {
   width: 180px;
   border: 0px;
   text-align: right;
}

td.info {  
   color: #FFFFFF;
   font-weight: bold;
   background-color:#968f89;
}

.warning {
   color: red;
}

/* Taken from EWS.css */
.hpGasGaugeBlock {
   background-color: #eeeeee; 
   width: 15px; 
   cursor: hand;
}

.hpGasGaugeAlerts {
   padding-top: 4px;
}
/* toolbar */
.toolbar {
	border-top: 2px solid #fff;
	border-right: 0px solid #fff;
	border-left: 0px solid #fff;
	padding: 0px 0px 3px 0px;
}
.tWrapperDown {
	background-color: #968F89;
	height: 20px;
}
.tWrapperDown a {
	color: #fff !important;
}
.tWrapperOver {
	background-color: #efefef;
	height: 20px;
}
.toolbar a:link,
.toolbar a:visited,
.toolbar a:active {
	text-decoration: none;
	color: #666;
	font-weight: bold;
}
.toolbar a:hover {
	color: #666;
	text-decoration: none;
}
.toolbar td {
	border-bottom: 3px solid #999;
	vertical-align: top;
	white-space: nowrap;
}
.toolbar td div {
	float: left;
	padding: 4px 3px 0 3px;
	margin: 0 2px 0 2px;
	height: 21px;
	cursor: hand;
}
.toolbar td img {
	padding-right: 4px;
}
.toolbar div.toolDivider {
	padding: 0;
	margin: 0;
	height: 25px;
	width: 4px;
	font-size: 1px;
	background-image:url(../gif/divider.gif);
	cursor: default;
}
h3.trayTitle {
   background-color:#968F89;
   font-weight:bold;
   color:#fff;
   padding:3px 5px 3px 9px;
   margin:0px;
   font-size:100%;
}

table.trayTable {
   border:1px solid #ccc;
}

.requiredField {
   font-style: italic;
}


td.nested1,
td.nested2,
td.nested3,
td.nested4,
td.nested5{
	padding-right:10px;
}

td.nested1 {
	padding-left:	21px;
}
td.nested2 {
	padding-left:	38px;
}
td.nested3 {
	padding-left:	55px;
}
td.nested4 {
	padding-left:	72px;
}
td.nested5 {
	padding-left:	89px;
}
td.nested1 div.treeTitle,
td.nested2 div.treeTitle,
td.nested3 div.treeTitle,
td.nested4 div.treeTitle,
td.nested5 div.treeTitle{
	margin-left:-16px;
}
























































